manifest {
    name            = 'jordeu/nf-jupyterlite'
    author          = 'Jordi Deu-Pons'
    homePage        = 'https://github.com/jordeu/nf-jupyterlite'
    description     = 'Demo pipeline to create a JupyterLite interactive report.'
    mainScript      = 'main.nf'
}

params.outdir = "results"
process.container = 'python:3.8'
docker.enabled = true
